.FormField {
  position: relative;
  box-sizing: border-box;
  padding: 1px;
}

.FormField__border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--field_border, rgb(0 0 0 / 12%));
  background: var(--field_background, #f2f3f5);
  content: '';
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
  transform-origin: left top;
}

.Input .Input__el:not(:disabled) ~ .FormField__border--hover{
  border-color: var(--icon_tertiary_alpha, rgb(0 0 0 / 24%));
}

.FormField--android {
  border-radius: 8px;
}

.FormField > * {
  border-radius: inherit;
}

.Input .Input__el:disabled ~ .FormField__border{
  opacity: .4;
}

@media (min-resolution: 2dppx) {
  .FormField--ios .FormField__border {
    border-radius: 20px;
    transform: scale(.5);
    width: 200%;
    height: 200%;
  }
}

@media (min-resolution: 3dppx) {
  .FormField--ios .FormField__border {
    border-radius: 31.25px;
    transform: scale(.32);
    width: 312.5%;
    height: 312.5%;
  }
}

.FormField.Input .Input__el:focus ~ .FormField__border {
  border-color: var(--accent, #3f8ae0);
  background: var(--field_background, #f2f3f5);
}



.Input {
  position: relative;
  line-height: 19px;
  font-size: 16px;
  }

.Input--center .Input__el {
  text-align: center;
  }

.Input--right .Input__el {
  text-align: right;
  }

.Input__el {
  margin: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  outline: none;
  appearance: none;
  text-overflow: ellipsis;
  height: 42px;
  line-height: 19px;
  font-size: 16px;
  color: var(--text_primary, #000);
  padding: 11px;
  position: relative;
  z-index: 2;
  background: transparent;
  }

.Input--sizeY-compact .Input__el {
  height: 34px;
  padding-top: 9px;
  padding-bottom: 9px;
  line-height: 20px;
  font-size: 15px;
}

.Input__el:disabled {
  opacity: .4;
}

.Input__el::placeholder {
  color: var(--field_text_placeholder, #818c99);
}

.Input__el:disabled::placeholder {
  color: var(--text_secondary, #818c99);
}
